textures/
_Recovery/
Fonts/
MobileDependencyResolver/
Objects/
Prefabs/
Scenes/
Resources/
Settings/
Sounds/
TutorialInfo/
.inputactions
Characters/
DungeonJanitors1.slnx
.csproj
Library/
.plastic/
Logs/
ProjectSettings/
Temp/